kafka-topics/target/**
kafka-producers/target/**
kafka-basics/target/**
kafka-schemas/target/**
kafka-consumers/target/**
streams-interaction/target/**
streams-data/target/**
streams-building/target/**
collaboration-stateless/target/**
collaboration-stateful/target/**
collaboration-partition/target/**
collaboration-async/target/**
